#album img {
    width: 100px;
    height: auto;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#album {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

input[type="file"] {
    margin: 20px 0;
}
.button {
    display: inline-block;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
