<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Streaming Platform</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Simple Video Streaming Platform</h1>
        </header>
        <main>
            <video id="videoPlayer" controls>
                <source src="Aswin_Nair_Power BI2.mkv" type="">
                Your browser does not support the video tag.
            </video>
            <div class="controls">
                <button onclick="playPause()">Play/Pause</button>
                <button onclick="makeBig()">Big</button>
                <button onclick="makeSmall()">Small</button>
                <button onclick="makeNormal()">Normal</button>
            </div>
        </main>
    </div>
    <script src="script.js"></script>
</body>
</html>
